    a {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    a:hover {
        background-color: blueviolet;
    }
    a:active {
        background-color: #3e8e41;
    }
         button{
                display: inline-block;
                 padding: 10px 20px;
                 font-size: 16px;
                 text-align: center;
                 text-decoration: none;
                 background-color: #4CAF50;
                 color: white;
                 border: none;
                 border-radius: 4px;
                 cursor: pointer;
                 margin: 34px auto;
                 }
             button.addTable {
             display: inline-block;
             padding: 10px 20px;
             font-size: 14px;
             text-align: center;
             text-decoration: none;
             background-color: #4CAF50;
             color: white;
             border: none;
             border-radius: 4px;
             cursor: pointer;
             margin: 34px auto;
         }
        button:hover {
            background-color:#3e8e41;
        }
        button:active {
            background-color: #3e8e41;
        }
        input.oneMorebtn {
            display: flex;
            flex-wrap: wrap;
            gap: 9px;
            margin: 12px 0px;
        }

        input {
            width: 200px;
            height: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            font-size: 14px;
            color: #333;
            background-color: #f5f5f5
        }
        input::placeholder {
          color: #999;
        }
        input:focus {
          outline: none;
          border-color: #3e8e41;
          box-shadow: 0 0 5px #0066cc;
        }
          select {
                 width: 100px;
                 display: flex;
                 flex-wrap: wrap;
                 align-items: center;
                 place-content: center;
                 justify-content: center;
                 padding: 10px;
                 font-size: 16px;
                 border: 1px solid #ccc;
                 border-radius: 4px;
                 background-color: #fff;
                 color: #333;
                 height: 34px;
                 text-align: center;
            }

            option {
                  padding: 8px;
                  font-size: 14px;
                }
            .buttonContainer {
                    display: flex;
                    justify-content: start;
                    gap: 19px;
                    align-items: center;
            }
            select.AllDbList {
                border-radius: 5px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                height: 42px;
                width:230px;
            }
